<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Main Page</title>
</head>

<body>
	<h1>Welcome to Index Page</h1>
	<a href="/ServeletPractice/home">HomePage</a>
	<a href="/ServeletPractice/dashboard">DashBoard</a>
	<a href="/ServeletPractice/get-all-users">Get-All-Users</a>
	<!--<a href="/ServeletPractice/register/user">UserRegister</a>
	<a href="/ServeletPractice/register/admin">AdminRegister</a>-->
	<a href="/ServeletPractice/register?userType=user">UserRegister</a>
	<a href="/ServeletPractice/register?userType=admin">AdminRegister</a>
</body>

</html>